table {
	border:1px solid black; 
}
td:hover {
	background-color: #000000;
	color: #F333FF ;
}
tr, th { 
	background-color: DeepSkyBlue;
	color: black;
}
tr, td { text-align: center;
	background-color: #FF9533;
	color: white;
}
